.trainbg{
    background-image: url("../../Image/welcomepage5.png");
  position: relative;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.circle_text h1 {
  text-align: center !important;
  font-size: 36px;
  margin-top: 10px;
  font-family: 'Outfit', sans-serif;
}

/* Media query for extra small screens (xs) */
@media (max-width: 767px) {
  .circle_text h1 {
    font-size:25px;
    font-weight:500 
  }
}