
.carousel-indicators {
  bottom: 0; /* Adjust position if necessary */
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  width: 5px; /* Make it a small circle */
  height: 5px; /* Ensure the height matches the width for a circle */
  background-color: #fff; /* White color for inactive dots */
  border-radius: 50%; /* Makes it round */
  margin: 0 5px; /* Spacing between dots */
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #ff4e00; /* Orange color for the active dot */
}
.custom-carousel-item {
  position: relative;
}

.custom-slider-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #fff;
  z-index: 2;
  width: 100%;
  padding: 0 2rem;
}

.quote {
  font-size: var(--font-h1);
  color: #e0ffff;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  margin-bottom: .5em;
  text-align: start;
}

.sale-text {
  font-size: var(--font-h5);
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
  margin-bottom: 1em;
  text-align: start;
  max-width: 40%;
  word-wrap: break-word;
  word-break: break-word;
}

.product-button {
  background-color: #ff4e00;
  color: #fff;
  border-radius: 4px;
  padding: 12px 32px;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
  text-decoration: none;
}

.product-button:hover {
  border: 1px solid #fff;
  text-decoration: none;
}

/* Media queries for responsiveness */
@media (max-width: 767px) {
  .custom-slider-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .quote {
    font-size: 0.9rem;
    max-width: 80%;
    word-wrap: break-word;
    word-break: break-word;
  }

  .sale-text {
    font-size: 0.7rem;
    max-width: 80%;
    word-wrap: break-word;
    word-break: break-word;
  }

  .product-button {
    font-size: 0.6rem;
    padding: 5px 8px;
  }
  .carousel-indicators{
    display: none;
  }
}

/* Styles for Carousel Controls */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  height: 100%;
  z-index: 3;
}

.custom-prev-icon,
.custom-next-icon {
  font-size: 2rem; /* Ensuring the icons are visible */
  color: #000000;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 50%;
  z-index: 4; /* Ensure it's above other elements */
}

.custom-prev-icon:hover,
.custom-next-icon:hover {
  color: #ff4e00;
}
