.educate {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: start;
  }
  
  .app_heading {
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    margin: 0;
  }
  
  .app_subheading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Outfit', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #000000;
  }
  
  .app_desc {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    color: rgb(49, 49, 49);
    text-align: justify;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .app_links1 {
    width: 20%;
  }
  
  .googlePlayStore_link1 img {
    width: 100%;
  }
  
  .app_image {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 899px) {
    .app_heading {
      font-size: 26px;
    }
  
    .app_subheading {
      font-size: 22px;
    }
  
    .app_desc {
      font-size: 14px;
    }
  
    .app_links1 {
      width: 30%;
    }
  
    .googlePlayStore_link1 img {
      width: 100%;
    }
  }
  
  @media (max-width: 499px) {
    .app_heading {
      font-size: 22px;
    }
  
    .app_subheading {
      font-size: 18px;
    }
  
    .app_desc {
      font-size: 13px;
    }
  
    .app_links1 {
      width: 40%;
    }
  
    .googlePlayStore_link1 img {
      width: 100%;
    }
  }
  