.product-section {
  text-align: center;
  padding: 50px;
  background-color: #ffffff;
  position: relative;
}

.product-section h2 {
  color: #003E90;
  font-family: 'Quicksand';
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  position: relative; /* Allow positioning of the image */
}

.product-section span {
  position: relative; /* For positioning the underline image */
  z-index: 1; /* Ensure the text is above the underline image */
}

.product-section .underline-image {
  display: block; /* Change to block to position it correctly */
  margin: 0 auto; /* Center the image */
  width: 100%; /* Adjust as needed */
  max-width: 227px; /* Set max width for the underline */
  height: auto; /* Maintain aspect ratio */
  position: absolute; 
  top: 50px;/* Position relative to h2 */
  bottom: 0; /* Adjust to move it closer or further from the text */
  left: 59.4%; /* Center it horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  z-index: 0; /* Keep the image behind the text */
}

.product-section p {
  width: 647.81px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  font-family: 'Quicksand';
  color: #1F1F1F;
  margin: 0 auto 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-section::before {
  content: '';
  background: url('../../Image/home/globe1.png') no-repeat;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.product-section::after {
  content: '';
  background: url('../../Image/home/car1.png') no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  opacity: 1;
}
