/* Base styles for .teamback */
.teamback {
    background-image: url("../../Image/teammessage.png");
    position: relative;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}


