/* General Styles */
.header {
  background-color: #fff;
  font-family: 'Outfit', sans-serif;
  font-size: 0.75rem;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  height: 7rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerTop {
  width: 100%;
  background-color: #003E90;
  color: #040D12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;
  font-size: 12px;
  height: 33px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  z-index: 999;
}

.headerTop span {
  font-weight: normal;
}

.headerTopLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fcfcfc;
  font-size: 15px !important;
  gap: 10px;
}

.headerTopLeft > p {
  margin: 0;
}

.headerRetailer_Svg, .headerRetailer_Svg2 {
  color: #fcfcfc;
}

.headerRetailer_Svg2 {
  transform: scale(1.4);
}

.headerTopCenter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerTopRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fcfcfc;
  font-size: 15px !important;
  font-family: 'Outfit', sans-serif;
}

.headerRetailer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.headerFlag {
  display: flex;
  gap: 8px;
  align-items: center;
}

.account_box {
  display: flex;
  gap: 5px;
  align-items: center;
}

.My_account {
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
  color: #fcfcfc;
  font-size: 13px;
}

.headerLogin {
  width: 130px;
  cursor: pointer;
  background-color: #FF4E00;
  padding-right: 5px;
  padding-left: 30px;
}

.headerLogin button {
  font-family: 'Outfit', sans-serif;
  height: 33px;
  border: none;
  text-align: center;
  color: #003E90;
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

.headerLogin > button:hover {
  color: #ed1c24;
  transition: all 0.25s ease;
}

.headerBottom {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.headerBottom__logo {
  display: flex;
  align-items: center;
}

.headerBottom__logo_main {
  height: 4rem;
}

@media (max-width: 768px) {
  .headerBottom__logo_main {
    height: 40px;
    width: 200px;
  }
}

.header_mobile_menu {
  display: none;
}

.headerBottom_navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.headerBottom_navMenu ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.headerBottom_navMenu ul li {
  margin: 0 15px; /* Add position relative for pseudo-element */
}

.headerBottom_navMenu ul li a {
  color: #121212;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
  position: relative; /* Ensure pseudo-element is positioned correctly */
}

@media (max-width: 768px) {
  .headerBottom_navMenu li {
    font-size: 10px;
    margin: 10px 0; /* Adjust spacing for vertical layout */
  }
}

.headerBottom_navMenu ul li a::before {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust the position of the underline */
  left: 0;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: transparent;
  transition: background-color 0.3s ease; /* Transition for smooth color change */
}

.headerBottom_navMenu ul li a:hover::before {
  background-color: #FF4E00; /* Color of the underline on hover */
}

.headerBotttom_icons {
  display: flex;
  gap: 1.1rem;
  align-items: center;
  font-size: 14px;
}

.headerBotttom_icons > *:hover {
  color: #FF4E00;
  transition: 0.5s ease-in-out;
}

.makeStyles-flagIcon-1 {
  width: 16px !important;
  height: 16px !important;
  align-self: center !important;
  padding-right: 2px !important;
  margin-bottom: -4px;
}

.css-i4bv87-MuiSvgIcon-root {
  height: 18px !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: rgb(29, 28, 28);
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: #E30605 !important;
}

@media (max-width: 899px) {
  .headerTop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0.5rem;
  }

  .headerTopLeft {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .headerTopCenter {
    display: none;
  }

  .headerTopRight {
    justify-content: flex-end;
    text-align: center;
  }

  .headerTopRight .headerRetailer {
    display: none;
  }

  .headerLogin {
    width: auto;
    align-self: flex-end;
  }

  .headerLogin button {
    font-size: 12px;
    padding: 5px 10px;
  }

  .headerBottom {
    padding: 0.5rem;
    flex-direction: row;
  }

  .headerBottom__logo {
    flex: 1;
    justify-content: center;
    margin: 0 10px;
  }

  .headerBottom__logo_main {
    max-width: 200px;
    margin-top: 1rem;
  }

  .header_mobile_menu, .headerBotttom_icons {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .header_mobile_menu svg, .headerBotttom_icons svg {
    width: 18px;
    height: 18px;
  }

  .headerBottom_navMenu {
    display: none;
  }

  .headerBotttom_icons {
    gap: 0.5rem;
    justify-content: center;
  }

  .headerBotttom_icons svg {
    width: 20px;
    height: 20px;
  }

  .headerBottom_navMenu ul li {
    padding: 0.5rem 0.8rem;
  }
}

@media (max-width: 499px) {
  .headerTop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0.5rem;
  }

  .headerTopLeft {
    display: flex;
    flex-direction: row; /* Changed to row */
    justify-content: flex-start;
    align-items: center; /* Changed to center */
    gap: 100px; /* Added gap for spacing */
  }

  .headerTopLeft .headerPhone {
    display: flex;
    align-items: center;
    gap: 5px; /* Reduce gap */
  }

  .headerTopSocialIcons {
    display: flex;
    gap: 3px; /* Reduce gap */
  }

  .headerLogin {
    display: none; /* Hide account button */
  }

  .headerTopCenter {
    display: none;
  }

  .headerTopRight {
    justify-content: flex-end;
    text-align: center;
  }

  .headerTopRight .headerRetailer {
    display: none;
  }

  .headerBottom {
    padding: 0.5rem;
    flex-direction: row;
  }

  .headerBottom__logo {
    flex: 1;
    justify-content: center;
    margin: 0 10px;
  }

  .headerBottom__logo_main {
    max-width: 165px;
    
  }

  .header_mobile_menu, .headerBotttom_icons {
    display: flex;
    align-items: center;
  }

  .header_mobile_menu svg, .headerBotttom_icons svg {
    width: 18px;
    height: 18px;
  }

  .headerBottom_navMenu {
    display: none;
  }

  .headerBotttom_icons {
    gap: 0.5rem;
    justify-content: center;
  }

  .headerBotttom_icons svg {
    width: 20px;
    height: 20px;
  }

  .headerBottom_navMenu ul li {
    padding: 0.5rem 0.8rem;
  }
}

/* Desktop Styles */
@media (min-width: 900px) {
  .headerTopLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-right: auto;
  }

  .headerTopCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .headerTopSocialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }

  .headerTopRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }

  .headerBottom__logo_main {
    height: 4rem; /* Increase the logo size for desktop view */
  }
}
